/.DS_Store
/.env
/.env.bak
/.phpunit.result.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/app/public
/storage/framework/cache
/storage/framework/sessions
/storage/framework/testing
/storage/framework/views
/storage/logs
/vendor
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.vscode/